<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
    </header>
    <section>
      <h2>Category:</h2>
      <a href="/"><p>All</p></a>
      <a href="/?category=Guitar"><p>Guitars</p></a>
      <a href="/?category=Bass"><p>Bass</p></a>
      <a href="/?category=Drums"><p>Drums</p></a>
      <a href="/?category=Keyboard"><p>Keyboard</p></a>
    </section>
    <section>
      <ul>
        <% instruments.map(instrument => { %>
        <li><%= instrument.brand_name.concat(" ", instrument.model_name) %></li>
        <% }) %>
      </ul>
    </section>
  </body>
</html>
